<header>
		<div id="header" class="wow fadeIn" data-wow-duration=".5s" data-wow-offset="1" data-wow-iteration="1">
				<div class="logoHeader wow fadeIn" data-wow-duration="1s" data-wow-delay=".9s" data-wow-offset="10" data-wow-iteration="1">
					<a href="/#/"><img src="/assets/logo/Movieboxlogo.png" alt="Movie Box logo"></a>
				</div>
				<div class="searchIcon wow fadeIn" data-wow-duration="1s" data-wow-delay=".9s" data-wow-offset="10" data-wow-iteration="1">
					<a href="/#/search"><img src="/assets/icon/LEIT.png" alt=""></a>
				</div>
				<div class="small-12  headerText align-center align-self-middle">
					<h1>Welcome To Movie Box</h1>
				</div>
		</div>
</header>
<!-- Category 1 Row-1 -->
<div class="column wow slideInUp" data-wow-duration="1.2s">
	<div class="row column small-12 large-11 categoryText">
		<h2>Popular</h2>
	</div>
	<div class="row small-12 large-11 responsive">
		{{#each popular.results}}
		<a id="movie" href="/#/movie/{{this.id}}">
			<div class="small-11 large-12 align-justify movieImg">
				
					<div class="columns small-10 medium-12 large-12 movieImgInfo">
						<div class="row">
							<div class="movieImgTitle">
								<h3>{{this.title}}</h3>
							</div>
							<div class="starringInfo columns large-12">
								<ul class="row column">
								</ul>
							</div>
						</div>
					</div>
					<img src="{{#if this.poster_path }}https://image.tmdb.org/t/p/w500/{{this.poster_path}}{{/if}}" alt="">
				
			</div>
			</a>
		{{/each}}
	</div>

	<div class="row column small-12 large-11 categoryText">
		<h2>In Icelandic Cinema</h2>
	</div>
	<div class="row row-1 small-12 large-11  responsive">
		{{#each iceCinema}}
			<div class="small-11 large-3 movieImg">
					<div class="columns small-10 medium-12 large-12 movieImgInfo">
						<div class="row">
							<div class="movieImgTitle">
								<h3>{{this.title}}</h3>
							</div>
							<div class="starringInfo columns large-12">
								<ul class="row column">
								</ul>
							</div>
						</div>
					</div>
					<img src="{{#if this.poster }}{{this.poster}}{{/if}}" alt="">
			</div>
		{{/each}}
	</div>

	{{#each genre}}
	<div class="row column small-12 large-11 categoryText">
		<h2>{{this.name}}</h2>
	</div>
	<div class="row row-1 small-12 large-11  responsive">
		{{#each this.movies.results}}
		<a id="movie" href="/#/movie/{{this.id}}">
			<div class="small-11 large-12 movieImg">
				
					<div class="columns small-10 medium-12 large-12 movieImgInfo">
						<div class="row">
							<div class="movieImgTitle">
								<h3>{{this.title}}</h3>
							</div>
							<div class="starringInfo columns large-12">
								<ul class="row column">
								</ul>
							</div>
						</div>
					</div>
					<img class="lazy" src="{{#if this.poster_path }}https://image.tmdb.org/t/p/w500/{{this.poster_path}}{{/if}}" alt="">
				
			</div>
			</a>
		{{/each}}
	</div>
	{{/each}}

</div>		